
h1 {text-align: center;}
img {
    max-width: 400px; 
    max-height: auto;

}

p {text-align:center}

.images{display:flex;
justify-content:center;
flex-wrap:wrap}

.bottom_right{display:flex;
    justify-content: center;
   
    align-items: center;
    gap:50px
}

.home {text-align: center;
margin-top:30px; 
font-size:200%;
font-weight:bold}